h2 {
  margin-left: 25px;

  margin-top: 30px;

  font-size: 24px;
}

.scroll-container {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  overflow: auto;

  max-height: calc(100vh - 150px);

  padding: 0 20px;
}

.managePeople,
.manageInventory {
  flex: 0 0 calc(50% - 20px);

  padding: 10px;
}

.managePeople h3,
.manageInventory h3 {
  margin-top: 30px;

  margin-bottom: 10px;

  font-size: 16px;

  justify-content: center;
}

.managePeople input,
.managePeople select,
.manageInventory input {
  margin-top: 5px;

  margin-right: 3px;

  padding: 5px 10px;

  border: 1px solid whitesmoke;

  border-radius: 4px;

  background-color: whitesmoke;

  justify-content: center;
}

.managePeople button,
.manageInventory button {
  font-size: 13px;

  padding: 7px 13px;

  margin-top: 10px;

  margin-left: 10px;

  background-color: darkcyan;

  color: white;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  transition: background-color 0.3s;
}

.managePeople button:hover,
.manageInventory button:hover {
  background-color: rgba(1, 185, 185, 0.799);
}

.manageInventory label[for="spaceLeftUnits"] {
  font-weight: bold;
}

.manageInventory label[for="totalPriceEuro"] {
  font-weight: bold;
}

.manageInventory label[for="shoppingqueen"] {
  font-weight: bold;
}

.manageInventory label[for="beerking"] {
  font-weight: bold;
}

.residentsList,
.editPerson {
  margin-top: 25px;
}

.showMonthlyConsumption {
  margin-bottom: 50px;
}

.backButton-container {
  display: flex;

  justify-content: center;

  margin-top: 20px;
}

.backButton {
  font-size: 14px;

  padding: 13px 20px;

  background-color: darkcyan;

  color: white;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  transition: background-color 0.3s;

  margin: 10px;
}

.backButton:hover {
  background-color: rgba(1, 185, 185, 0.799);
}

/* .managePeople{




  background-color:pink;




} */
