<h2>Welcome to {{ apartment }}!</h2>

<div class="managePeople">
  <div>
    <h3>Manage all residents</h3>
    <input type="text" [(ngModel)]="newPersonName" placeholder="Enter person's name">
    <select [(ngModel)]="newPersonRole">
      <option value="admin">Admin</option>
      <option value="flatmate">Flatmate</option>
      <option value="guest">Guest</option>
    </select>
    <button (click)="addPerson()">Add Person</button>
  </div>

  <div class="residentsList" *ngIf="people.length > 0">
    <h3>People living in {{apartment}}</h3>
    <ul>
      <li *ngFor="let person of people; let i = index">
        <span>{{ person.name }} - {{ person.role }}</span>
        <button class="editButton" (click)="editPerson(i)">Edit</button>
        <button (click)="deletePerson(i)">Delete</button>
      </li>
    </ul>
  </div>

  <div class="editPerson" *ngIf="editingPerson !== null">
    <h3>Edit Person</h3>
    <div>
      <input type="text" [(ngModel)]="editingPerson.name" placeholder="Enter person's name">
      <select [(ngModel)]="editingPerson.role">
        <option value="admin">Admin</option>
        <option value="flatmate">Flatmate</option>
        <option value="guest">Guest</option>
      </select>
      <button (click)="saveEdit()">Save</button>
    </div>
  </div>
</div>


<div class="manageInventory">
      <h3>Manage inventory</h3>
    <br>
      <div>
        <label for="storageCapacity">Total storage capacity:</label>
        <input type="number" id="storageCapacity" [(ngModel)]="storageCapacity">
      </div>
      <div>
        <label for="criticalMass">Critical mass:</label>
        <input type="number" id="criticalMass" [(ngModel)]="criticalMass">
      <button (click)="saveConfig()">Save Configuration</button>
      </div>

    <!-- <br>
      <div>
        <h3>Configuration:</h3>
        <p>Total storage capacity: {{ storageCapacity }}</p>
        <p>Critical mass: {{ criticalMass }}</p>
      </div>
    </div> -->
    <br>
    <div class="budget-container">
      <h4>Budget</h4>
      <label for="addToPrice">Price: {{price}}</label>
      <input type="number" id="price" [(ngModel)]="price">
      <button (click)="addToPrice()">add to price</button>
      <br>
      <label for="totalPrice">Total price: {{totalPrice}}</label>
    </div>
    <br>
    <div class="purchase-container">
      <h4>Purchase</h4>
      <span class="label">Purchased the most beer bottles - </span>
      <span class="number"> {{newPersonName}} </span>
    </div>
    <br>
    <h4>Consumed</h4>
    <div class="consumed-container">
      <span class="label">Consumed the most beer bottles - </span>
      <span class="number"> {{newPersonName}} </span>
    </div>
</div>

<div class="backButton-container">
  <button class="backButton" (click)="goBack()">Go Back</button>
</div>
